/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea,
.input-group {
    max-width: 280px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px; padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Classes - Form Validation */

.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 2px solid red;
}

.pointer {
    cursor: pointer;
}