@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Welcome to WorkMate!</h1>
@if (!Request.IsAuthenticated)
{
    <h2 class="text-center">@Html.ActionLink("Log In", "Login", "Account") to Continue</h2>
    <h3 class="text-center">First time? @Html.ActionLink("Register", "Register", "Account") to start planning, mate!</h3>
}